.post-author {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.img-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 14px;
}
.username {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #262626;
}