.navigation {
  display: flex;
  align-items: center;
}

.home-img {
  color: #262626;
  width: 26px;
  height: 25px;
  margin-right: 28px;
}

.profile-img {
  margin-right: 24px;
}

.img-avatar {
  width: 37px;
  height: 37px;
  border-radius: 50px;
}

.exit-img {
  color: #262626;
  width: 30px;
  height: 20px;
}