@import '../../vars.scss';

.topline {
  border-bottom: 1px solid #D3D3D3;
  background: #FAFAFA;
  padding: 0 10px;
}

.container {
  // display: flex;
  // flex-direction: column;
  padding: 0 10px;
}

.wrapper-user {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  // flex: 1;

  @include tablets {
    flex-direction: column;
  }
}

.user {
  // flex: 1;
  color: #262626;
  border-right: 1px solid #D3D3D3;
  padding: 40px 30px 0 0;

  @include tablets {
    border-right: none;
  }
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 30px;
}

.content {
  flex: 2;
  padding: 40px 0 0 74px;

  @include tablets {
    padding: 40px 0 0 0 ;
  }
}