.wrapper {
  background: #000;
  min-height: 800px;
  height: 100vh;
}

.header {
  padding: 50px 0;
}

.x-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .close-btn {
  color: #fff;
}

