@import '../../vars.scss';

.stories-container {
  height: 667px;
  position: relative;
}

.stories {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -188px;
  transition: .4s;
  transform: translateX(0);

  @include tablets {
    top: -40px;
  }
}

.stories-item {
  height: 664px;
  width: 375px;
}